<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>操作日志列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../fonts/alicdnfont/font_tnyc012u2rlwstt9.css" media="all" />
		<link rel="stylesheet" href="../../../css/common/main.css" media="all" />
		<link rel="stylesheet" href="../../../css/module/log/log.css" media="all" />
	</head>

	<body class="childrenBody m-in-body">
		<blockquote class="layui-elem-quote news_search p-b-none">
			<form class="layui-form layui-row" action="">
				<div class="layui-col-xs10">
					<div class="layui-col-xs7">
						<div class="layui-form-item text-rigth">
							<label class="layui-form-label"></label>
							<div class="layui-input-block">
								<input type="radio" name="sex" value="全部日志" title="全部日志" checked>
								<input type="radio" name="sex" value="本月日志" title="本月日志">
								<input type="radio" name="sex" value="本周日志" title="本周日志">
							</div>
						</div>
					</div>
					<div class="layui-col-xs5">
						<div class="layui-form-item">
							<label class="layui-form-label">关键词</label>
							<div class="layui-input-block">
								<input type="text" name="title" placeholder="请输入关键词" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-xs2 text-rigth">
					<a class="layui-btn" lay-submit lay-filter="listSearch">查询</a>
					<a class="layui-btn layui-btn-normal listout_btn">导出</a>
				</div>
			</form>
		</blockquote>

		<div class="layui-form links_list">
			<table class="layui-table" lay-data="{ url:'../../../json/demo.json', page:true, id:'idTest'}" lay-filter="demo">
				<thead>
					<tr>
						<th lay-data="{field:'id', width:80}">ID</th>
						<th lay-data="{field:'id', width:100}">操作时间</th>
						<th lay-data="{field:'username', width:100}">用户</th>
						<th lay-data="{field:'sex', width:100}">登录IP</th>
						<th lay-data="{field:'city', width:100}">操作模块</th>
						<th lay-data="{field:'sign', width:177}">操作内容</th>
					</tr>
				</thead>
			</table>

		</div>

		<script type="text/javascript" src="../../../layui/layui.all.js"></script>
		<script type="text/javascript" src="operationList.js"></script>

	</body>

</html>