<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>添加信息图文</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../fonts/alicdnfont/font_tnyc012u2rlwstt9.css" media="all" />
		<link rel="stylesheet" href="../../../css/common/main.css" media="all" />
		<link rel="stylesheet" href="../../../css/common/modal.css" media="all" />
		<link rel="stylesheet" href="../../../css/module/weixin/weixin.css" media="all" />
	</head>

	<body class="childrenBody m-in-body">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>信息图文</legend>
		</fieldset>

		<div class="m-weixin-weixin">
			<div class="weixin-left">
				<div class="m-weixin-info">
					<div class="info-time">2017-10-01</div>
					<div class="info-img"><img class="upfile_bc_img1" /><span><font id="info_titl_body">标题</font></span></div>
					<div class="info-minimg">
						<ul>
							<li><img class="upfile_bc_img1" /></li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<div class="weixin-body">
				<div class="layui-col-xs12">
					<form class="layui-form">
						<div class="weixin-main">
							<div class="main-header">
								<text>信息图文</text>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">标题</label>
								<div class="layui-input-block">
									<input type="text" name="title" id="info_title" placeholder="请输入标题" autocomplete="off" class="layui-input">
									<p class="tip">标题内容</p>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">封面</label>
								<div class="layui-input-block">
									<div class="layui-upload clearfix">
										<div style="width:100px;float:left;">
											<button type="button" class="layui-btn" id="upfile_logo1">上传图片</button>
										</div>
										<div class="layui-col-xs8">
											<div class="layui-upload-list">
												<img class="layui-upload-img upfile_bc_img1" id="upfile_bc_img1">
												<p id="upfile_bc_txt1"></p>
											</div>
										</div>
									</div>
									<p class="tip">大图片建议尺寸：900像素 *500像素</p>
								</div>
							</div>

							<div class="menu-body">
								<div class="one">
									<div class="layui-form-item layui-form-text">
										<label class="layui-form-label">正文</label>
										<div class="layui-input-block">
											<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
										</div>
									</div>
								</div>
							</div>
							
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>

						</div>

						
					</form>

				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../../layui/layui.all.js"></script>
		<script type="text/javascript" src="infoAdd.js"></script>

	</body>

</html>