<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>添加员工</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../css/common/main.css" media="all" />
		<link rel="stylesheet" href="../../../css/module/system/member.css" media="all" />
	</head>

	<body class="childrenBody m-in-body">
		<form class="layui-form layui-row" action="">
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">员工名称</label>
					<div class="layui-input-block">
						<input type="text" name="title" required lay-verify="required" placeholder="请输入员工名称" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">职位</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">所属部门</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">工号</label>
					<div class="layui-input-block">
						<input type="text" name="title" placeholder="请输入工号" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">入职时间</label>
					<div class="layui-input-block">
						<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">联系方式</label>
					<div class="layui-input-block">
						<input type="text" name="title" required lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">身份证号码</label>
					<div class="layui-input-block">
						<input type="text" name="title" lay-verify="identity" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value="0">男</option>
							<option value="1">女</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">是否在职</label>
					<div class="layui-input-block">
						<input type="radio" name="sex" value="在职" title="在职" checked="">
					    <input type="radio" name="sex" value="离职" title="离职">
					</div>
				</div>
			</div>
			
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">学历</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">离职时间</label>
					<div class="layui-input-block">
						<input type="text" name="date" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>

			

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		
		
		<script type="text/javascript" src="../../../layui/layui.js"></script>
		<script type="text/javascript" src="memberAdd.js"></script>
	</body>

</html>